* {
    font-family: 'Roboto Condensed', sans-serif;
}

.App {
    text-align: center;
}

div .container {
    margin: 50px auto;
    max-width: 1196px;
    min-width: 1196px;
}

div .container1 {
    display: inline-block;
    margin: 50px auto;
}

div .title {
    border-radius: 8px;
    border: 1px rgba(255, 255, 255, 0.22);
    border-style: none none solid none;
    background-color: #002d72;
    padding: 10px;
}
